%blockquote.comment{class: ("abusive" if comment.abusive)}
	.votes
		= link_to "+", vote_up_post_comment_path(post, comment), method: "post", class: "btn btn-small btn-success", title: "Vote UP"
		= link_to "-", vote_down_post_comment_path(post, comment), method: "post", class: "btn btn-small btn-danger", title: "Vote DOWN"

		(
		&= content_tag :span, comment.up_votes, class: 'up-votes'
		& /
		&= content_tag :span, comment.down_votes, class: 'down-votes'
		& )
	= simple_format comment.body
	= content_tag :small, comment.user.to_s, class: 'author'
	= link_to "Nie obraźliwy", mark_as_not_abusive_post_comment_path(post, comment), method: "post" if comment.abusive

	