.post--full-size
  %h2
    = post.title
    %small
      = post.friendly_date
  = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'
  .post__comments
    %h3
      Komentarze (#{link_to post.comments.count, post_comments_path(post)})
    = render partial: 'comments/form', locals: { post: post, comment: Comment.new }
    = render partial: 'comments/comment', collection: @comments, as: :comment
